<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %> 
<body>
	<%- include('./partials/header') %> 
	  <main>
		<h1>Administrador</h1>
		
	  </main>
	
</body>
<!-- Boostrap -->
<%- include('./partials/scripts') %> 
</html>